{% extends 'todoApp/main.html' %}
{% block content %}
{% load static %}
<div class ="top main-back" >
<div id="back" style="align-items: center;justify-content:center;">
    <a href="{% url 'tasks' %}"><img src="{% static 'images/icons8-back-48.png' %}" >back</a>
</div>



    <form method="POST" action="" class="add-new-task">
        {% csrf_token %}
        <div class="search-input-area">{{form.as_p}}<div>
        <input class="search-btn" type="submit" value="Submit">
    </form>
</div>


{% endblock content %}